<form >
    <div class="form-component-register">
        <label for="date-1" class="label-register">Inicio:</label>
        <div class="col-3">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
          </div>
          <label for="date-2" class="label-register">Fim:</label>
          <div class="col-3">
              
            <input class="form-control" type="date" name="date-2" value="2011-08-19" id="example-date-input">
          </div>
    </div>
</form>
<div class="main-register">

</div>

